<%= simple_form_for @episode, :html => { :multipart => true }, url: story_episodes_path do |f| %>
  <%= f.error_notification %>

  <div class="form-inputs">
    <%= f.file_field :episode_img %>
    <%= f.input :title %>
    <%= f.input :description %>
  </div>

  <div class="form-actions">
    <%= f.button :submit %>
  </div>
<% end %>
