<div class="col-md-6 col-md-offset-3 box">
  <h1>Editing Episode</h1>

  <%= render 'form', episode: @episode %>

  <%= link_to 'Show', edit_story_episode_path(@episode) %> |
  <%= link_to 'Back', story_episodes_path(@episode) %>
</div>
