<p id="notice"><%= notice %></p>

<h1>Episodes</h1>

<table>
  <thead>
    <tr>
      <th>Title</th>
      <th>Description</th>
      <th colspan="3"></th>
    </tr>
  </thead>

  <tbody>
    <% @episodes.each do |episode| %>
      <tr>
        <td><%= image_tag episode.episode_img.url(:episode_index) %></td>
        <td><%= episode.title %></td>
        <td><%= episode.description %></td>
        <td><%= link_to 'Show', story_episode_path(@story, episode) %></td>
        <td><%= link_to 'Edit', edit_story_episode_path(@story, episode) %></td>
        <td><%= link_to 'Destroy', story_episode_path(@story, episode), method: :delete, confirm: 'Êtes vous sur?' %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

<%= link_to 'New Episode', new_story_episode_path(@story) %>
