<p id="notice"><%= notice %></p>

<p>
  <strong>Tire:</strong>
  <%= @episode.title %>
</p>

<p>
  <strong>Description:</strong>
  <%= @episode.description %>
</p>
  <%= image_tag @episode.episode_img.url(:episode_show) %>
<%= link_to 'Modifier', edit_story_episode_path(@episode, @story) %> |
<%= link_to 'Retour', story_episodes_path %>
