<%= simple_form_for @book, :html => { :multipart => true } do |f| %>
	<%= select_tag(:category_id, options_for_select(@categories), :prompt => "Select a category") %>
	<%= link_to 'New Category', new_category_path %>
	<%= f.file_field :book_img %>
	<h1>author</h1>
	<%= f.file_field :author_pub %>
	<h1>Lapin</h1>
	<%= f.file_field :lapin_pub %>
	<%= f.input :title, label: "Titre" %>
	<%= f.input :description, label: "Description" %>
	<%= f.input :author, label: "Auteur" %>
	<%= f.submit "Soumettre" %>
<% end %>
