<% if @books.count == 0 %>
<h3 class="text-center">Il n'y a pas encore de comics dans cette catégorie.</h3>
<% else %>
<div class="btn-group">
  <button type="button" class="btn btn-default dropdown-toggle" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
    Catégorie <span class="caret"></span>
  </button>
  <ul class="dropdown-menu">
    <% Category.all.each do |category| %>
    <li class="<%= 'active' if params[:category] == category.name %>">
      <%= link_to category.name, books_path(category: category.name), class: "link" %>
    </li>
    <% end %>
  </ul>
</div>
<h2 class="text-center">Les derniers strips</h2>
<%= link_to "Sign Up", new_user_registration_path %>
<% if user_signed_in? %>
<%= link_to "Sign Out", destroy_user_session_path, method: :delete %>
<% else %>
<%= link_to "Log In", new_user_session_path %>
<% end %>
<% if user_signed_in? %>
<%= link_to "Add Book", new_book_path %>
<% end %>
<h3 class="current-category text-center"><%= params[:category] %></h3>
<% @books.each do |book| %>
<div class="col-xs-18 col-sm-6 col-md-3">
  <div class="card">
    <div class="img-holder">
      <div class="overlay"><i class="fa fa-search"></i></div>
      <!-- <a href="/books/<%= book.id %>"> -->
      <a href="/books/<%= book.id %>/stories">
      <%= image_tag book.book_img.url(:book_index) %>
    </a>
  </div>
  <div class="content-holder">
    <p class="category"><%= @book = book.title %></p>
    <div class="separator">
      <span class="separator-sub"></span>
    </div>
      <!-- bootstrap WARNING LABEL FOR CATEGORY -->
    <h1>Le dernier épisode:</h1>
    <!-- <%= @story = Story.order(created_at: :desc) %> -->
    <h1>De l'histoire:</h1>
    <!-- <%= @story = Story.where(book: params[:book_id]).order(updated_at: :desc) %> -->
    <h1>Mis a jour le:</h1>
    <!-- <%= @story = Story.order("updated_at") %> -->
    <h2>Lorem ipsum dolor issi mamet consegur vat um porium</h2>
    <p class="author"><span>by</span> Phiip</p>
  </div>
</div>
</div>
<% end %>
<% end %>

<!-- <div class="row indexportal">
<div class="col-xs-6 col-sm-4">
<li><h5><a href="#">Lapin.org</a></h5></li>
<br>
<li><a href="#">Tout sur les webcomics</a></li>
<li><a href="#">24H de la BD</a></li>
<li><a href="#">Bonus</a></li>
<li><a href="#">La communauté</a></li>
<li><a href="#">Le Zine lapin</a></li>
<li><a href="#">Ressources pour les webcomics</a></li>
</div>
<div class="col-xs-6 col-sm-4 portalmiddle">
<li><h5><a href="#">Les éditions lapin</a></h5></li>
<br>
<li><a href="#">Les publications lapin</a></li>
<li><a href="#">Actualité des éditions lapin</a></li>
<li><a href="#">Les festivals</a></li>
<li><a href="#">Pour les libraires</a></li>
<li><a href="#">L’Edition en général</a></li>
<li><a href="#">Presse et médias</a></li>

</div>
<div class="col-xs-6 col-sm-4">
<li><h5><a href="#">Lapin sur les réseaux sociaux</a></h5></li>
<br>
<ul>
<li><i class="fa fa-facebook" aria-hidden="true"> <a href="https://www.facebook.com/editions.lapin" target="_blank">Les éditions sur facebook</a></i></li>
<li><i class="fa fa-pinterest" aria-hidden="true"> <a href="https://www.pinterest.com/editionslapin/" target="_blank">Les éditions sur Pinterest</a></i></li>
<li><i class="fa fa-facebook" aria-hidden="true"> <a href="https://www.facebook.com/lapin.org" target="_blank">Lapin.org sur Facebook</a></i></li>
<li><i class="fa fa-twitter" aria-hidden="true"> <a href="https://twitter.com/Lapinorg" target="_blank">Lapin.org sur Twitter</a></i></li>
<li><i class="fa fa-envelope-open" aria-hidden="true"> <a href="mailto:contact@lapin.org?subject=Phiip,%20je%20vous%20aime" target="_blank">Contact global par mail</a></i></li>
<li><i class="fa fa-twitter" aria-hidden="true"> <a href="https://twitter.com/Phiip" target="_blank">Phiip sur Twitter</a></i></li>
<li><i class="fa fa-pinterest" aria-hidden="true">  <a href="https://www.pinterest.com/phiip/" target="_blank">Phiip sur Pinterest</a></i></li>
</div>
<li class="text-center"><a href="#">Plan du site</a></li>
</ul>
</div> -->
