<!-- PAGINATION -->
<!-- <ol class="breadcrumb">
<li><%= link_to "Accueil", books_path(@book) %></li>
<li><a href="#"><%= @book.title %></a></li>
</ol> -->
<div class="container">
  <div class="row box">
    <div class="col-md-3 text-center">
      <div class="img-thumbnail"><%= image_tag @book.book_img.url(:book_show), class: "book-show" %></div>
      <h5>Moyenne des notes:</h5>
      <div class="average-review-rating" data-score="<%= @average_review %>"></div>
      <small>Basé sur <%= @book.reviews.count %> avis</small>
      <h5>Nb d'histoires:</h5>
      <h5>Nb d'épisodes:</h5>
    </div>
    <div class="col-md-9">
      <h3><%= @book.title %></h3>
      <h5><%= @book.description %></h5>
      <small>Crée le: <%= @book.created_at.strftime("%d %b %Y") %>
        <br>
        Par: <%= @book.author %></small>
      </div>
    </div>
  </div>
  <h2 class="text-center">Ep title</h2>
  <!-- EPISODES IMG NAV  -->
  <nav aria-label="...">
    <ul class="pager">
      <li><a href="#"><i class="fa fa-chevron-left" aria-hidden="true"></i></span> Previous</a></li>
      <li><a href="#">Next <i class="fa fa-chevron-right" aria-hidden="true"></i></a></li>
    </ul>
  </nav>

  <% if user_signed_in? %>
  <% if @book.user_id == current_user.id %>
  <%= link_to "Edit", edit_book_path(@book) %>
  <%= link_to "Delete", book_path(@book), method: :delete, data: {confirm: "Are you sure?"}  %>
  <% end %>
  <% end %>

  <%= link_to "Retour", root_path %>
  <li><%= link_to "Ajouter une histoire", new_book_story_path(@book) %></li>
  <%= link_to "Toutes les histoires", book_stories_path(@book) %>
  <li><%= link_to "Ajouter un épisode", new_story_episode_path(@book) %></li>
  <%= link_to "Tous les épisodes", story_episodes_path(@book) %>

  <!-- COMMENTS SECTION -->
  <div class="text-center">
    <h3 class="jumbotron">Commentaires</h3>

    <!-- <ul id="messages"> -->
  <!-- 1 -->
  <!-- <li>
    <div class="infos">
      <img src="http://farm5.staticflickr.com/4136/4817542998_55a7eb8d8b_q.jpg" alt="" title="by tresMunkeys" />
      <a href="http://twitter.com/webodream" class="sprite twitter">@webodream</a>
      <a href="http://www.facebook.com/groups/115089745169149" class="sprite facebook">depot.webdesigner</a>
      <a href="http://github.com/arbaoui-mehdi" class="sprite github">@arbaoui-mehdi</a>
    </div>
    <div class="content">
      <h3>
        Arbaoui Mehdi
        <b>ceo &amp; founder "depot webdesigner"</b>
      </h3>
      <p>
        Etiam iaculis, ipsum sit amet scelerisque dictum, diam justo suscipit mauris, a lacinia odio nulla et tellus. Praesent placerat ipsum sed purus rutrum vel dapibus magna scelerisque. Nulla sit amet orci at metus euismod tincidunt. Etiam <a href="#">http://www.depotwebdesigner.com</a> et nunc eu massa fermentum feugiat.
      </p>
    </div>
  </li> -->
  <!-- 2 -->
  <!-- <li>
    <div class="infos">
      <img src="http://farm3.staticflickr.com/2721/4531285963_cd28f61b16_q.jpg" alt=""  title="by tresMunkeys" />
      <a href="http://twitter.com/webodream" class="sprite twitter">@webodream</a>
      <a href="http://www.facebook.com/groups/115089745169149" class="sprite facebook">depot.webdesigner</a>
      <a href="http://github.com/arbaoui-mehdi" class="sprite github">@arbaoui-mehdi</a>
    </div>
    <div class="content">
      <h3>
        Edmundo I. Jacobi
        <b>webdeveloper</b>
      </h3>
      <p>
        Lorem ipsum non minim Excepteur Duis sunt labore ut laborum sit ullamco sed ex.Lorem ipsum dolor adipisicing ullamco cillumLorem ipsum non minim Excepteur Duis sunt labore ut laborum sit ullamco sed ex.Lorem ipsum dolor adipisicing ullamco cillumLorem ipsum non minim Excepteur Duis sunt labore ut laborum sit ullamco sed ex.Lorem ipsum dolor adipisicing ullamco cillumLorem ipsum non minim Excepteur Duis sunt labore ut laborum sit ullamco sed ex.Lorem ipsum dolor adipisicing.
      </p>
    </div>
  </li> -->

  <!-- 3 -->
  <!-- <li>
    <div class="infos">
      <img src="http://farm3.staticflickr.com/2617/3873098259_61c446da22_q.jpg" alt="" title="by tresMunkeys" />
      <a href="http://twitter.com/webodream" class="sprite twitter">@webodream</a>
      <a href="http://www.facebook.com/groups/115089745169149" class="sprite facebook">depot.webdesigner</a>
      <a href="http://github.com/arbaoui-mehdi" class="sprite github">@arbaoui-mehdi</a>
    </div>
    <div class="content">
      <h3>
        Lisa J. Escoto
        <b>webdesigner </b>
      </h3>
      <p>
        Lorem ipsum non minim Excepteur Duis sunt labore ut laborum sit ullamco sed ex.Lorem ipsum dolor adipisicing ullamco cillum in occaecat adipisicing ullamco cillum in occaecat proident commodo in <a href="http://www.google.com">http://www.google.com</a>.
      </p>
    </div>
  </li> -->

  <!-- 4 -->
  <!-- <li>
    <div class="infos">
      <img src="http://farm4.staticflickr.com/3412/3446830982_c8b55cc7e8_q.jpg" alt="" title="by tresMunkeys" />
      <a href="http://twitter.com/webodream" class="sprite twitter">@webodream</a>
      <a href="http://www.facebook.com/groups/115089745169149" class="sprite facebook">depot.webdesigner</a>
      <a href="http://github.com/arbaoui-mehdi" class="sprite github">@arbaoui-mehdi</a>
    </div>
    <div class="content">
      <h3>
        June Schreiber
        <b>CEO &amp; Founder</b>
      </h3>
      <p>
        Phasellus pharetra, libero sed egestas condimentum, ligula nibh cursus turpis, sed convallis odio lorem sit amet ligula. Suspendisse dapibus nibh nec augue placerat eleifend sit amet nec purus. Donec consectetur cursus quam eu bibendum. Nam est nisi, tincidunt mattis luctus sit amet, faucibus luctus odio. Nam placerat mauris libero. Integer fringilla nisl vitae velit lacinia eget sagittis diam feugiat. Ut et scelerisque dolor. Phasellus luctus tellus nec augue laoreet non suscipit orci condimentum. Cum sociis natoque penatibus et magnis dis parturient montes, nascetur ridiculus mus. Sed eros felis, eleifend ut fringilla sit amet, vestibulum eu ligula. In venenatis aliquet tristique. Fusce tempor tincidunt adipiscing. In fermentum tincidunt purus eu tristique. Integer semper, eros et accumsan porta, purus arcu vehicula massa, quis facilisis nibh nisi non mi.
      </p>
    </div>
  </li> -->

  <!-- 5 -->
  <!-- <li>
    <div class="infos">
      <img src="http://farm4.staticflickr.com/3588/3663734351_f9cb5a6a56_q.jpg" alt="" title="by tresMunkeys" />
      <a href="http://twitter.com/webodream" class="sprite twitter">@webodream</a>
      <a href="http://www.facebook.com/groups/115089745169149" class="sprite facebook">depot.webdesigner</a>
      <a href="http://github.com/arbaoui-mehdi" class="sprite github">@arbaoui-mehdi</a>
    </div>
    <div class="content">
      <h3>
        Benita M. Futral
        <b>CEO &amp; Founder</b>
      </h3>
      <p>
        Lorem ipsum non minim Excepteur Duis sunt labore ut laborum sit ullamco sed ex.Lorem ipsum dolor adipisicing ullamco cillum
      </p>
    </div>
  </li> -->

</ul>
   <button type="button" class="btn btn-primary" data-toggle="modal" data-target="#exampleModal" data-whatever="@mdo">Ajouter un commentaire</button>
    <div class="modal fade" id="exampleModal" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel">
      <div class="modal-dialog" role="document">
        <div class="modal-content">
          <div class="modal-header">
            <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
            <h4 class="modal-title" id="exampleModalLabel">Ajouter un commentaire</h4>
          </div>
          <div class="modal-body">
            <%= simple_form_for([@book, @book.reviews.build]) do |f| %>
            <div id="rating-form">
              <label>Rating: </label>
            </div>
            <%= f.input :comment, label: "Commentaire:" %>

            <!-- SCRIPT FOR RATING STARS -->
             <script>
            $('#rating-form').raty({
              path: '/assets/',
              scoreName: 'review[rating]'
            });
            </script>
          </div>
          <div class="modal-footer">
            <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
            <%= f.button :submit, :class => "btn-custom2" %>
            <% end %>
          </div>
        </div>
      </div>
    </div>
    <%= render @book.reviews %>
  </div>

  <!-- <div class="showportal jumbotron">
    <h3 class="text-center">Le portail Lapin</h3>
    <p>
      Le portail lapin publie gratuitement des bandes dessinées, des comics strips et
      des webcomics depuis 2001. <a href="#">Les bandes dessinées lapin</a> créées par <a href="#">les auteurs les
        plus talentueux de la webcomicosphère</a> sont en général humoristiques et/ou
        absurdes, allant de la poésie (<a href="#">la Dissonance des corps</a>, <a href="#">la plage</a>) à un humour
        très noir (<a href="#">Red Meat</a>) en passant carrément par les mathématiques (<a href="#">xkcd</a>).
        Mais lapin c'est aussi <a href="#">les éditions lapin</a>, la version papier de Lapin.org qui
        édite beaucoup de webcomics, mais aussi des <a href="#"></a>petites BD de poche, des <a href="#"></a>Ultimex,
        des <a href="#">idioties</a>, des <a href="#">lapins de bureau</a>, de beaux ouvrages (<a href="#">oooooh</a>) et des <a href="#">livres
          pour enfants</a>. Entre autres.
        </p>
        <div class="row">
          <div class="col-xs-6 col-sm-3">
            <ul>
              <li><h4>Les webcomics lapin</h5></li>
                <li><a href="#">Les derniers webcomics</a></li>
                <li><a href="#">Tous les webcomics</a></li>
                <li><a href="#">Webcomics originaux FR</a></li>
                <li><a href="#">Webcomics traduits de l'anglais</a></li>
                <li><a href="#">Webcomics originaux EN</a></li>
                <li><a href="#">Notre patrimoine</a></li>
              </div>
              <div class="col-xs-6 col-sm-3">
                <li><h4>La librairie lapin</h4></li>
                <li><a href="#">Collection poches</a></li>
                <li><a href="#">Collection petit lapin</a></li>
                <li><a href="#">Collection webcomics</a></li>
                <li><a href="#">Souscription lapin</a></li>
                <li><a href="#">Tee-shirts lapin</a></li>
                <li><a href="#">Pack spéciaux pas chers</a></li>
              </div>
              <div class="col-xs-6 col-sm-3">
                <li><h4>Lapin org</h4></li>
                <li><a href="#">Les 24H de la BD</a></li>
                <li><a href="#">Parlons des webcomics</a></li>
                <li><a href="#">Bonus</a></li>
                <li><a href="#">Plan du site</a>
                  <li><a href="#">Les ressources pour les webcomics</a></li>
                  <li><a href="#">Mentions légales</a></li>
                  <li><a href="#">Contact</a></li>
                </div>
                <div class="col-xs-6 col-sm-3">
                  <li><h4>Les éditions lapin</h4>
                    <li><a href="#">Les publications lapin</a></li>
                    <li><a href="#">Actualité des éditions lapin</a></li>
                    <li><a href="#">Les festivals</a></li>
                    <li><a href="#">Espace libraires</a></li>
                    <li><a href="#">Les auteurs lapin</a></li>
                    <li><a href="#">Lapin dans la presse</a></li>
                  </ul>
                </div>
              </div>
            </div>  -->

            <!-- SCRIPT FOR RATING STARS -->
            <!-- <script>
            $('.review-rating').raty({
              readOnly: true,
              score: function() {
                return $(this).attr('data-score');
              },
              path: '/assets/'
            });
            </script>


            <script>
            $('.average-review-rating').raty({
              readOnly: true,
              path: '/assets/',
              score: function() {
                return $(this).attr('data-score')
              }
            });
            </script> -->
