<%= simple_form_for([@book, @story]) do |f| %>
  <%= f.error_notification %>

  <div class="form-inputs">
    <%= f.input :title %>
    <%= f.input :description %>
    <%= f.file_field :desc_img %>
  </div>

  <div class="form-actions">
    <%= f.button :submit %>
  </div>
<% end %>
