<p id="notice"><%= notice %></p>
<div class="container">
  <div class="row">
    <div class="col-md-12">
      <nav class="tab-nav" role='navigation'>
        <ul>
          <li><a class="tab1 open" href="#content-tab1">Infos</a></li>
          <li><a class="tab2" href="#content-tab2">Description</a></li>
          <li><a class="tab3" href="#content-tab3">Autheur</a></li>
          <li><a class="tab4" href="#content-tab4">...</a></li>
        </ul>
      </nav>
      <div id="content-tabs">
        <div class="content-tab open" id="content-tab1">
          <div class="container">
            <div class="row ">
              <div class="col-md-3 text-center">
                <div class="img-thumbnail"><%= image_tag @book.book_img.url(:book_show), class: "book-show" %></div>
                <h5>Moyenne des notes:</h5>
                <div class="average-review-rating" data-score=<%= @average_review %>></div>
                <small>Basé sur <%= @book.reviews.count %> avis</small>
                <h5>Nb d'histoires:</h5>
                <h5>Nb d'épisodes:</h5>
              </div>
              <div class="col-md-9">
                <h3><%= @book.title %></h3>
                <h5><%= @book.description %></h5>
                <small>Crée le: <%= @book.created_at.strftime("%d %b %Y") %>
                  <br>
                  Par: <%= @book.author %></small>
                </div>
              </div>
            </div>
          </div>
          <div class="content-tab" id="content-tab3">
            <div class="container">
              <div class="row ">
                <div class="col-md-3 text-center">
                  <div class="img-thumbnail"><%= image_tag @book.book_img.url(:book_show), class: "book-show" %></div>
                </div>
                <div class="col-md-9">
                  <h3><%= @book.title %></h3>
                    <%= image_tag @book.author_pub.url(:book_show), class: "book-show" %>
                    <br>
                    <small>Par: <%= @book.author %></small>
                  </div>
                </div>
              </div>
            </div>
        </div>
    </div>
  </div>
</div>
<script>
/*
* TABS SWITCHER
*/
// Refs
var tabs = $('.tab-nav').find('a'),
tabContents = $('#content-tabs').children('.content-tab');

// Switch Tab Handler
tabs.on('click', function(e) {
  e.preventDefault();
  var contentTab = $(this).attr('href');
  //tabs btn
  tabs.removeClass('open');
  $(this).addClass('open');
  //tabs content
  tabContents.removeClass('open');
  $(contentTab).addClass('open');
});


/*
* ACCORDION jQUERY UI
*/

// Init
$('.accordion').accordion({
  collapsible: false,
  active: false,
  heightStyle: "content",
  icons: { "header": "fa fa-chevron-down", "activeHeader": "fa fa-chevron-up" }
});
</script>


<h1 class="text-center">Histoires et épisodes</h1>

<%= link_to 'Nouvelle histoire', new_book_story_path(@book) %>
<table class="table table-striped">
  <thead>
    <tr>
      <th>Image</th>
      <th>Titre</th>
      <th>Description</th>
      <th colspan="3"></th>
    </tr>
  </thead>
  <tbody>
    <% @stories.each do |story| %>
    <tr>
      <td><%= image_tag story.desc_img.url(:desc_show) %></td>
      <td><%= story.title %></td>
      <td><%= story.description %></td>
      <td><%= link_to 'Detail', book_story_path(@book, story) %></td>
      <td><%= link_to 'Ajouter un épisode', new_story_episode_path(story) %></td>
      <td><%= link_to 'Modifier', edit_book_story_path(@book, story) %></td>
      <td><%= link_to 'Supprimer', story, method: :delete, data: { confirm: 'Êtes vous sur ?' } %></td>
    </tr>
    <% end %>
  </tbody>
</table>
