<p id="notice"><%= notice %></p>
<p>
  <strong>Title:</strong>
  <%= @story.title %>
</p>
<p>
  <strong>Description:</strong>
  <%= @story.description %>
</p>
<!-- EPISODES IMG -->
<%= image_tag @book.lapin_pub.url(:lapin_show) %>
<%= image_tag @book.lapin_pub.url(:author_show) %>

<%= link_to 'Modifier', edit_story_path(@story) %> |
<%= link_to 'Retour', book_stories_path(@book) %>
<br>
<%= link_to "Ajouter un épisode", new_story_episode_path(@book) %>
