
/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, vendor/assets/stylesheets,
 * or any plugin's vendor/assets/stylesheets directory can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any other CSS/SCSS
 * files in this directory. Styles in this file should be added after the last require_* statement.
 * It is generally better to create a new file per style scope.
 *
 *= require_tree .
 *= require_self
 */
 @import "bootstrap-sprockets";
 @import "bootstrap";
 @import url(https://fonts.googleapis.com/css?family=Alegreya+Sans:400,700,800,400italic,500,300);
 @import url(https://maxcdn.bootstrapcdn.com/font-awesome/4.5.0/css/font-awesome.min.css);
 body {
   // background-color: #F6F6E6;
  //  background: #C6CBD1;
   background: #F6F6E6;
 }
 // INDEX
 *{
   margin:0;
   padding:0;

 }
.card{
  background: #fff;
  display: block;
  margin:50px auto;
  width: 200px;
  cursor: pointer;
  border-right: 2px solid #F0D28C;
  border-bottom: 2px solid #BE6414;
  border-radius: 5px;
  &:hover{
    img{
      transform:scale(1.1);
      opacity: 0.5;
    }
    .content-holder{
      padding-left: 25px;
    }
    .img-holder .overlay{
      opacity:1;
    }
  }
  .img-holder {
    overflow: hidden;
    background: #000;
    position: relative;
    img {
      width:100%;
      display:block;
      transition: transform 0.3s ease, opacity 0.3s ease;
    }
    .overlay {
      position: absolute;
      top:0;
      right:0;
      bottom:0;
      left:0;
      opacity:0;
      display: flex;
      justify-content: center;
      align-items: center;
      transition: opacity 0.3s ease-in-out;
      i{
        font-size: 3em;
        color: #F0D28C ;
      }
    }
  }
  .content-holder {
    padding:20px;
    transition: padding 0.3s ease;
      .category{
        font-family: 'Alegreya Sans', sans-serif;
        text-transform: uppercase;
        font-weight: 700;
        color: #BE6414;
        margin-bottom: 10px;
      }
    .separator {
      width:100%;
      height: 2px;
      background: #F0D28C;
      margin-bottom: 10px;
      .separator-sub{
        width:15%;
        height: 100%;
        background: #BE6414;
        display: block
      }
    }
    h1 {
      font-family: 'Alegreya Sans', sans-serif;
      font-size: 1.1em;
      font-weight: 600;
      color: #1D1D1D;
    }
    h2 {
      color: grey;
      font-family: 'Alegreya Sans', sans-serif;
      font-size: 0.9em;
      margin-bottom: 5px;
    }
    .author {
      font-family: 'Alegreya Sans', sans-serif;
      color: #1D1D1D;
      font-weight: 600;
      font-style: italic;
      span{
        color: grey;
        font-weight: 400;
      }
    }
  }
}
// BOOK SHOW
h2 {
  // color: #BE6414;
  font-family: "Times New Roman", Serif;
}
.bookindeximg, .box {
	box-sizing: border-box;
	background-color: #fff;
	border-radius: 5px;
	box-shadow: 3px 3px 5px 6px #ccc;
	padding: 1.5em 1.25em;
  // margin-top: 2em;
  margin-bottom: 2em;
}
.indexportal {
   padding-top: 20px;
   border: 5px solid #be6414;
   margin-bottom: 1em;
}
.indexportal {
  border-radius: 5px;
}
.indexportal a {
  color: #BE6414;
  text-decoration: none;
}
.portalmiddle {
  border-left: 1px solid #be6414;
  border-right: 1px solid #be6414;
}
.showportal {
  background-color: white;
  border-radius: 15px;
  list-style-type: none;
  // margin-left: 5em;
  // margin-right: 5em;
}
// COMMENTS SECTION
/* Arbaoui Mehdi copyright 2013 */
/* Notice : Hover effect on social media icons */

body {
  background: url("http://i58.tinypic.com/2586qdx.jpg");
  font: 15px/150% Georgia, "Times New Roman", Times, serif; }

@-webkit-keyframes flipInX {
  0% { -webkit-transform: perspective(400px) rotateX(90deg); }

  30% { -webkit-transform: perspective(400px) rotateX(-10deg); }

  70% { -webkit-transform: perspective(400px) rotateX(10deg); }

  100% { -webkit-transform: perspective(400px) rotateX(0deg); } }

@-moz-keyframes flipInX {
  0% { -moz-transform: perspective(400px) rotateX(90deg); }

  30% { -moz-transform: perspective(400px) rotateX(-10deg); }

  70% { -moz-transform: perspective(400px) rotateX(10deg); }

  100% { -moz-transform: perspective(400px) rotateX(0deg); } }

@-o-keyframes flipInX {
  0% { -o-transform: perspective(400px) rotateX(90deg);
       opacity: 0; }

  30% { -o-transform: perspective(400px) rotateX(-10deg); }

  70% { -o-transform: perspective(400px) rotateX(10deg); }

  100% { -o-transform: perspective(400px) rotateX(0deg); } }

@keyframes flipInX {
  0% { transform: perspective(400px) rotateX(90deg);
       opacity: 0; }

  30% { transform: perspective(400px) rotateX(-10deg); }

  70% { transform: perspective(400px) rotateX(10deg); }

  100% { transform: perspective(400px) rotateX(0deg); } }

.animated {
  -webkit-animation-duration: 1s;
  -moz-animation-duration: 1s;
  -ms-animation-duration: 1s;
  -o-animation-duration: 1s;
  animation-duration: 1s;
  -webkit-animation-fill: both;
  -moz-animation-fill: both;
  -ms-animation-fill: both;
  -o-animation-fill: both;
  animation-fill: both; }

.flipInX {
  -webkit-animation-name: flipInX;
  -moz-animation-name: flipInX;
  -ms-animation-name: flipInX;
  -o-animation-name: flipInX;
  animation-name: flipInX; }

/* =============================================== /*
/*                                                 /*
/*                     Messages                    /*
/*                                                 /*
/* =============================================== */

#messages {
  position: relative;
  margin: 50px auto;
  padding: 0;
  width: 800px;
  list-style: none; }

#messages li {
  float: left;
  margin-bottom: 30px;
  padding-bottom: 30px;
  border-bottom: 1px dashed #c8c7b4; }

#messages li:nth-child(2n) .infos {
  float: right;
  margin-left: 20px; }

#messages li:nth-child(2n) .infos a {
  -webkit-box-shadow: 1px 1px 0 1px rgba(90, 81, 15, 0.2);
  -moz-box-shadow: 1px 1px 0 1px rgba(90, 81, 15, 0.2);
  box-shadow: 1px 1px 0 1px rgba(90, 81, 15, 0.2);
  left: inherit; }

#messages li:nth-child(2n) .content { border-width: 1px 3px 4px 4px; }

#messages li:nth-child(2n) .content:after,
#messages li:nth-child(2n) .content:before {
  right: -9px;
  left: inherit;
  -webkit-transform: rotate(41deg);
  -moz-transform: rotate(41deg);
  -o-transform: rotate(41deg);
  transform: rotate(41deg); }

#messages li:nth-child(2n) .facebook { right: -10px; }

#messages li:nth-child(2n) .twitter { right: -5%; }

#messages li:nth-child(2n) .github { right: -1%; }

#messages .infos {
  -webkit-border-radius: 50%;
  -moz-border-radius: 50%;
  -ms-border-radius: 50%;
  -o-border-radius: 50%;
  border-radius: 50%;
  position: relative;
  float: left;
  padding: 3px;
  width: 130px;
  height: 130px;
  border: 5px solid #c8c7b4; }

#messages .infos a {
  -webkit-border-radius: 17px;
  -moz-border-radius: 17px;
  -ms-border-radius: 17px;
  -o-border-radius: 17px;
  border-radius: 17px;
  -webkit-box-shadow: -1px 1px 0 1px rgba(90, 81, 15, 0.2);
  -moz-box-shadow: -1px 1px 0 1px rgba(90, 81, 15, 0.2);
  box-shadow: -1px 1px 0 1px rgba(90, 81, 15, 0.2);
  position: absolute;
  width: 20px;
  height: 22px;
  background-color: #d5d2a8;
  color: #fff;
  text-decoration: none;
  text-indent: -10000px;
  font-size: 11px; }

#messages .infos a:hover {
  padding: 0 10px 0 18px;
  width: auto;
  border: none;
  text-indent: 0;
  opacity: 0.95; }

#messages img {
  -webkit-border-radius: 50%;
  -moz-border-radius: 50%;
  -ms-border-radius: 50%;
  -o-border-radius: 50%;
  border-radius: 50%;
  width: 100%; }

/* =============================================== /*
/*                                                 /*
/*      + SVG sprite (social media icons ).        /*
/*      + You can use PNG if your navigator don't  /*
/*        support SVG format.                      /*
/*                                                 /*
/* =============================================== */

.sprite {
  background: url("https://docs.google.com/uc?export=download&id=0B3VygIVAuRCQRzF1d0RyWHFFRU0") no-repeat;
  background-size: 23px; }

.twitter {
  background-position: -1px 5px;
  top: 16%;
  left: -5%; }

.twitter:hover { background-color: #2094dd !important; }

.facebook {
  background-position: -2px -27px;
  top: 42%;
  left: -10%; }

.facebook:hover { background-color: #3b5998 !important; }

.github {
  background-position: -2px -10px;
  bottom: 17%;
  left: -1%; }

.github:hover { background-color: #444 !important; }

.content {
  -webkit-border-radius: 10px;
  -moz-border-radius: 10px;
  -ms-border-radius: 10px;
  -o-border-radius: 10px;
  border-radius: 10px;
  position: relative;
  float: left;
  margin-left: 20px;
  padding: 15px 25px;
  width: 510px;
  border-width: 1px 4px 4px 3px;
  border-style: solid;
  border-color: #c8c7b4;
  background-color: #ece5bd;

/* ==================================================================== /*
/*                                                                      /*
/*   + Css Patterns from : http://lea.verou.me/css3patterns/            /*
/*   + Arbaoui mehdi : Fix a gradient color bug in OPERA,FIREFOX        /*
/*     and SAFARI (only new versions)                                   /*
/*                                                                      /*
/* ==================================================================== */

  background-image: -linear-gradient(0deg, transparent 18px, #dbada9 0, #dbada9 20px, transparent 19px),
                    -linear-gradient(#e1dab0 0.1em, transparent 0.1em);
  background-image: -webkit-linear-gradient(0deg, transparent 11px, #dbada9 0, #dbada9 14px, transparent 12px),
                    -webkit-linear-gradient(#e1dab0 0.1em, transparent 0.1em);
  background-image: -moz-linear-gradient(0deg, transparent 11px, #dbada9 0, #dbada9 13px, transparent 12px),
                    -moz-linear-gradient(#e1dab0 0.1em, transparent 0.1em);
  background-size: 100% 10px;
  color: #333;

}

/* ====================================================================================== /*
/*                                                                                        /*
/*   + Talk bubble with shadow                                                            /*
/*     From http://forrst.com/posts/How_to_Make_a_Pure_CSS_Speech_Bubble_With_a_Drop-PU1  /*
/*   + Arbaoui mehdi: Change position (left and right) of arrow                        /*
/*                                                                                        /*
/* ====================================================================================== */

.content:after, .content:before {
  border-bottom: 23px solid transparent;
  border-right: 20px solid #ece5bd;
  top: 49px;
  content: '';
  position: absolute;
  left: -9px;
  -webkit-transform: rotate(220deg);
  -moz-transform: rotate(220deg);
  -o-transform: rotate(220deg);
  transform: rotate(220deg); }

.content h3 {
  font: 23px "Satisfy";
  margin: 0;
  padding: 0;
  font-weight: normal; }

.content p {
  margin: 10px 0 0 0;
  font-size: 15px;
  line-height: 1.7em; }

.content p a {
  text-decoration: none;
  background-color: #f7f3c5;
  border-bottom: solid 1px #cfcebe;
  color: #834202;
  padding: 1px 4px; }

.content p a:hover { background-color: #f5ec82; }

.content b {
  display: block;
  color: #75280c;
  font: italic normal 17px Georgia; }

.content:before {
  top: 48px;
  left: -11px;
  border-right: 19px solid rgba(0, 0, 0, 0.1);
}
/* GENERAL */
h1{
   margin-bottom: 3rem;
}



/* TABS STYLING */
// Navigation
.tab-nav{
   margin-left: 1rem;
   ul{
      margin:0;
      padding: 0;
      li{
         float: left;
         list-style:none;
         a{
            display: block;
            position: relative;
            margin-right: -1rem;
            padding: 0.3rem 4rem;
            text-decoration: none !important;
            font-size: 1.125em;
            text-transform: uppercase;
            font-weight: bold;
            color: #fff;
            background: none;
            outline: none;
            &.open{
               z-index: 9;
            }
            &:hover{
               z-index: 10;
               color: #fff;
               &.tab1::before{background: #0cc;}
               &.tab2::before{background: #F6BB42;}
               &.tab3::before{background: #8CC152;}
               &.tab4::before{background: #967ADC;}
            }
            &::before{
               content:'';
               z-index: -1;
               position: absolute;
               top: 0;bottom: 0;
               left: 0;right: 0;
               background: #ccc;
               border: 1px solid rgba(0,0,0,0.2);
               border-bottom: none;
               border-radius: 5px 5px 0 0;
               transform: perspective(0.5em) rotatex(3deg) scaleY(1.3);
               transform-origin: bottom;
               transition: background 0.4s;
            }
            &.tab1.open::before{ background: #0cc; }
            &.tab2.open::before{ background: #F6BB42; }
            &.tab3.open::before{ background: #8CC152; }
            &.tab4.open::before{ background: #967ADC; }
         }
      }
   }
}
// Content
#content-tabs{
   clear: both;
   min-height: 100px;
   padding: 1rem;
   border-radius: 5px;
   border: 1px solid #aaa;
   box-shadow: 2px 2px 6px #aaa;
   .content-tab{
      display: none;
      &.open{
         display: block;
      }
   }
   .accordion{
      h3{
         font-size: 1.2em;
         font-weight: bold;
         outline: none;
         cursor: pointer;
      }
      .fa{
         margin-right: 1rem;
         font-size: 0.8em;
      }
   }
}
// NAV MENU
.menu {
  margin-top: 2em;
}
.menu a {
  font-family: 'Pacifico';
  color: #BE6414;
  font-size: 20px;
  text-decoration: none;
}
.menu a:hover {
  background-color: transparent;
}
