<div class="col-md-6 col-md-offset-3 box">
  <h1>Editing Category</h1>
  <%= render 'form', category: @category %>
  <%= link_to 'Detail', @category %> |
  <%= link_to 'Retour', categories_path %>
</div>
