<p id="notice"><%= notice %></p>

<p>
  <strong>Nom de la categorie:</strong>
  <%= @category.name %>
</p>

<%= link_to 'Modifier', edit_category_path(@category) %> |
<%= link_to 'Retour', categories_path %>
