<div class="review-rating" data-score="<%= review.rating %>"></div>
<p><%= review.comment %></p>

<% if user_signed_in? %>
  <% if review.user_id == current_user.id %>
<%= link_to "Modifier", edit_book_review_path(review.book, review) %>
<%= link_to "Supprimer", book_review_path(review.book, review), method: :delete, data: { confirm: "Are you sure?" } %>
  <% end %>
<% end %>
