<!DOCTYPE html>
<html>
<head>
  <title>Lapin 5.0 : comme Lapin, mais en mieux</title>
  <%= csrf_meta_tags %>
  <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>
  <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>
  <link rel="stylesheet" type="text/css" href="BookReview/app/assetes/stylesheets/Pacifico.ttf/">
</head>
<body>
  <div class="menu">
    <ul class="list-inline text-center">
      <li><a href="#"><i class="fa fa-search" aria-hidden="true"></i></a></li>
      <li><a href="http://librairie.lapin.org/">Librairie</a></li>
      <li><%= link_to "Webcomics", books_path %></li>
      <li><a href="http://forum.lapin.org/">Communauté</a></li>
      <li><a href="#">Contact</a></li>
      <li><a href="#">Éditions</a></li>
      <li><a href="https://www.facebook.com/editions.lapin" target="_blank"><i class="fa fa-facebook" aria-hidden="true"></a></i></li>
      <li><a href="https://www.pinterest.com/editionslapin/" target="_blank"><i class="fa fa-pinterest" aria-hidden="true"></a></i></li>
      <li><a href="https://twitter.com/Lapinorg" target="_blank"><i class="fa fa-twitter" aria-hidden="true"></a></i></li>
      <li><a href="mailto:contact@lapin.org?subject=Phiip,%20je%20vous%20aime" target="_blank"><i class="fa fa-envelope-open" aria-hidden="true"></a></i></li>
    </ul>
  </div>

  <!-- <div class="text-center">
  <%= image_tag("logo.png", :alt => "Mon texte alternatif") %>
</div> -->
<p class="notice"><%= notice %></p>
<p class="alert"><%= alert %></p>

<%= yield %>
</body>
</html>
